<div class="row" id="nav">
  <div class="twelve columns inline">
    <h1 class="left"><a id="home" href="/">visualizations  </a></h1>
    <h1 class="right"><a id="info" href="/info"> info</a></h1>
    <h1 class="right">zoë ingram | spring 2018 | independent study |</h1>
  </div>
</div>
