@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:200,300,400');

/* TEXT STYLES */
h1, h2, h3, h4, h5, h6, a{
  font-family: 'Inconsolata';
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black);
}

a:visited {
  color: black;
}

a:hover {
  color:  rgb(66, 150, 220);
}

p {
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 0.5rem;
}
button {
  font-family: 'Montserrat';
  font-weight: 200;
}
/* CLASS STYLES */
.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline;
}

.title {
  font-family: 'Inconsolata';
  font-weight: 200;
}

/* ELEMENT STYLES */
[id="nav"] {
  margin-top: 1%;
}

[id=sketches] {
  text-align: center;
}

[id=home], [id=info] {
  font-size: 2rem;
}

[id=axisOne] path, line,
[id=axisTwo] path, line, {
  stroke: gray;
}

[id=axisOne] text,
[id=axisTwo] text {
  fill: gray;
  font-family: monospace;
}
