
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>d3 Sketches</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="row" id="sketches">
      </div>
    </div>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
