
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <!-- <% include ../sketches/sketch_2.ejs %> -->
      <div class="row">
        <div class="twelve columns" id="sketches">
          
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
