<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>d3 visualizations</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="row">
        <div class="three columns">
          <a href="/sketch_0">Bar Chart</a>
        </div>
        <div class="three columns">
          <a href="/sketch_1">Scatter Plot</a>
        </div>
        <div class="three columns">
          <a href="/sketch_2">Linear Scale</a>
        </div>
        <div class="three columns">
          <a href="/sketch_3">Sqaure Root Scale</a>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <a href="/sketch_4">Time Scale</a>
        </div>
        <div class="three columns">
          <a href="/sketch_5">Axes</a>
        </div>
        <div class="three columns">
          <a href="/sketch_6">Randomized Data Scatterplot</a>
        </div>
        <div class="three columns">
          <a href="/sketch_7">Randomized Data Bar Chart</a>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <a href="/sketch_8">Force Part I</a>
        </div>
        <div class="three columns">
          <a href="/sketch_9">Force Part II</a>
        </div>
        <div class="three columns">
          <a href="/sketch_10">Force Part III</a>
        </div>
        <div class="three columns">
          <a href="/sketch_0"></a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/main.js"></script>
  </body>
</html>
