<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>d3 visualizations</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="row">
        <div class="twelve columns">
          <h2><em>The purpose of visualization is insight, not pictures.</em></h2>
          <h2>- Ben Shneiderman</h2>
        </div>
      </div>
    </div>
  </body>
</html>
