<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>d3 visualizations</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="row">
        <div class="six columns">
          <h2>quotes, thoughts, examples</h2>
          <p><em>The purpose of visualization is insight, not pictures.</em> Ben Shneiderman</p>
        </div>
        <div class="six columns">
          <code>data();</code>
          <p>Binds data to DOM elements</p>
          <p>Contains references to sub selections, enter+exit, allow dynamic changes to data set</p>
          <code>enter();</code>
          <p>When the dataset contains more elements than there are available in the DOM, the extra items are stored in the enter selection</p>
          <code>exit();</code>
          <p>Allows dynamic removal of data</p>

          <div>
      </div>
    </div>
  </body>
</html>
