<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sketch_7</title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>


  </body>
</html>


<div class="row">
  <div class="twelve columns">
    <h2>sketch_7 | Bar Chart II</h2>
  </div>
</div>

<div class="row">
  <div class="six columns" id="sketch_7">
  </div>


  <div class="six columns">
    <pre><code>
    </code> </pre>
  </div>
</div>
<script src="/scripts/sketches/sketch_7.js"></script>
