<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sketch_10</title>

    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
  </body>
</html>


<div class="row">
  <div class="twelve columns">
    <h2>sketch_10 | Force Part III</h2>
  </div>
</div>

<div class="row">
  <div class="six columns" id="sketch_9">
    <svg width="600" height="600"></svg>
  </div>

  <div class="six columns">
    <p>Attempting to graph links between common nodes from two local json sources </p>
    <pre><code>
    </code></pre>
  </div>
</div>
<script src="/scripts/sketches/sketch_10.js"></script>
