<div class="row">
  <div class="twelve columns">
    <h2>sketch_1</h2>
  </div>
</div>

<div class="row">
  <div class="eight columns" id="sketch_1">
  </div>


  <div class="four columns">
    description/code here
  </div>
</div>
<script src="../scripts/sketches/sketch_1.js"></script>
